*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom,#ebf4f5,#b5c6e0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 50%;
    max-height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px 20px;
    margin-inline: 20px;
}
.form-box header h1{
    text-align: center;
    color: #5851e3;
}
.form-box form{
    margin-block: 30px;
}
input[type="text"]{
    display: none; 
}
input{

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #2e1d1d31;
    font-size: 16px;
    margin: 10px 0px;

}
a{
    text-decoration: none;
    color: #1124d3;
}
input[type="button"]{
    margin-block: 24px;
    background-color: #5851e3;
    color: white;
    font-size: 22px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    /* transition: 2s; */

}
input[type="button"]:hover{
    background-color: #10449e;
}
.singup  {
   text-align: center;
}
.singup a{
    font-size: 17px;
    color: #0b22ec;
    
}
.singup a:hover{
    text-decoration: underline 2px;
    text-underline-offset: 3.5px;

}
@Media screen and (max-width:700px){
    .form-box{
        width: 100%;
    }
}
